# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**

* Python
* R
* SQL

## Author
HAFIDA SAIDI

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
- Tensorflow
- Pytorch
- scklearn

| Data Science Tools | 
| -------------| 
| Jupyter Notebook | 
| JupyterLab | 
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
Hour = 200 / 60
print('200 min is ', Hour,'H')

200 min is  3.3333333333333335 H